CompanyServiceClient/src/META-INF/wsdl/localhost_8080/CompanyService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="addDepartment" type="tns:addDepartment"></xs:element>

<xs:element name="addDepartmentResponse" type="tns:addDepartmentResponse"></xs:element>

<xs:element name="getDepartment" type="tns:getDepartment"></xs:element>

<xs:element name="getDepartmentResponse" type="tns:getDepartmentResponse"></xs:element>

<xs:element name="getDepartments" type="tns:getDepartments"></xs:element>

<xs:element name="getDepartmentsResponse" type="tns:getDepartmentsResponse"></xs:element>

<xs:element name="removeDepartment" type="tns:removeDepartment"></xs:element>

<xs:element name="removeDepartmentResponse" type="tns:removeDepartmentResponse"></xs:element>

<xs:complexType name="getDepartment">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDepartmentResponse">
<xs:sequence>
<xs:element name="return" type="tns:department" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="department">
<xs:sequence>
<xs:element name="depName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="depNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDepartment">
<xs:sequence>
<xs:element name="arg0" type="tns:department" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDepartmentResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="addDepartment">
<xs:sequence>
<xs:element name="arg0" type="tns:department" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDepartmentResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getDepartments">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getDepartmentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:department" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>