CompanyServiceClient/src/META-INF/wsdl/localhost_8080/CompanyService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WebCompanyService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/CompanyService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getDepartment">
<part name="parameters" element="tns:getDepartment"></part>
</message>
<message name="getDepartmentResponse">
<part name="parameters" element="tns:getDepartmentResponse"></part>
</message>
<message name="addDepartment">
<part name="parameters" element="tns:addDepartment"></part>
</message>
<message name="addDepartmentResponse">
<part name="parameters" element="tns:addDepartmentResponse"></part>
</message>
<message name="removeDepartment">
<part name="parameters" element="tns:removeDepartment"></part>
</message>
<message name="removeDepartmentResponse">
<part name="parameters" element="tns:removeDepartmentResponse"></part>
</message>
<message name="getDepartments">
<part name="parameters" element="tns:getDepartments"></part>
</message>
<message name="getDepartmentsResponse">
<part name="parameters" element="tns:getDepartmentsResponse"></part>
</message>
<portType name="WebCompany">
<operation name="getDepartment">
<input wsam:Action="http://WebService/WebCompany/getDepartmentRequest" message="tns:getDepartment"></input>
<output wsam:Action="http://WebService/WebCompany/getDepartmentResponse" message="tns:getDepartmentResponse"></output>
</operation>
<operation name="addDepartment">
<input wsam:Action="http://WebService/WebCompany/addDepartmentRequest" message="tns:addDepartment"></input>
<output wsam:Action="http://WebService/WebCompany/addDepartmentResponse" message="tns:addDepartmentResponse"></output>
</operation>
<operation name="removeDepartment">
<input wsam:Action="http://WebService/WebCompany/removeDepartmentRequest" message="tns:removeDepartment"></input>
<output wsam:Action="http://WebService/WebCompany/removeDepartmentResponse" message="tns:removeDepartmentResponse"></output>
</operation>
<operation name="getDepartments">
<input wsam:Action="http://WebService/WebCompany/getDepartmentsRequest" message="tns:getDepartments"></input>
<output wsam:Action="http://WebService/WebCompany/getDepartmentsResponse" message="tns:getDepartmentsResponse"></output>
</operation>
</portType>
<binding name="WebCompanyPortBinding" type="tns:WebCompany">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getDepartment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addDepartment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeDepartment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDepartments">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WebCompanyService">
<port name="WebCompanyPort" binding="tns:WebCompanyPortBinding">
<soap:address location="http://localhost:8080/CompanyService"></soap:address>
</port>
</service>
</definitions>